body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*make scrollbar invisible*/
*::-webkit-scrollbar {
  display: none;
  /*width: 1px;*/
  /*position: absolute;*/
  /*background: transparent;*/
  /*opacity: 0;*/
  /*scrollbar-width: none; !* Firefox *!*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
